.error{
width: 20%;
margin: 0 auto;
background:rgba(255, 0, 0, 1);
padding: 15px;
border: 2px solid #fff;
border-radius: 20px/50px;
background-clip: padding-box;
text-align: center;
position: fixed;
bottom: 0;
right: 0;
}
.warn{
width: 20%;
margin: 0 auto;
background:rgba(255, 255, 0, 1);
padding: 15px;
border: 2px solid #fff;
border-radius: 20px/50px;
background-clip: padding-box;
text-align: center;
position: fixed;
bottom: 0;
right: 0;
}
.empty{
position: fixed;
bottom: 0;
right: 0;
width: 20%;  
margin: 0 auto;
background:rgba(0, 0, 255, 1);
padding: 15px;
border: 2px solid #fff;
border-radius: 20px/50px;
background-clip: padding-box;
text-align: center;
}